<!DOCTYPE html>
<html>
  <head>
    <title>Todo </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="head" class="secondary"></header>
    <p id="notice"><%= notice %></p>

    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div class="container">
        <div class="navbar-header">
          <!-- Button for smallest screens -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href=<%= tasks_path %>><%= image_tag 'logo.png', "alt" => "Progressus HTML5 template", "style" => "margin-top: -25px;"  %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <% if signed_in? %>
              <li id="noti_Container">
                <div id="noti_Counter"></div>   <!--SHOW NOTIFICATIONS COUNT.-->
                
                <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                <div id="noti_Button"></div>    

                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                <div id="notifications">
                  <h3 class="notify_title">Task a te assegnati 
                    <span class="bg-danger">aperti</span> 
                    <span class="bg-success">completati</span>
                  </h3>
                    
                  <% @tasks.where(assignee: current_user.username).order(created_at: :desc).each do |task| %>
                    <%if task.completed %>
                      <div class="notify_text bg-success ">
                    <% else %> 
                      <div class="notify_text bg-danger "> 
                    <% end %>
                        <strong><%= task.user.username %></strong>  ti ha assegnato un nuovo task 
                        <span><%= task.created_at.to_date.strftime('%d-%m-%y') %></span>
                      </div>
                    <% end %>
                        <div class="seeAll"><!--a href="#">See All</a--></div>
                      </div>
              </li>
            <% end %>

            <li>
              <%= link_to 'Home', tasks_path %>
            </li>
          
            <% if signed_in? %>
              <li>
                <%= link_to 'Vedi Rapporto', reports_path %>
              </li>
          
              <li>
                <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, "class"=>"btn" %>
              </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div> 
    <%= yield %>
  </body>
</html>
